//META{"name":"Beard_s_Material_theme_for_Discord","description":"V1.3.5 Released on the 9th of July, 2016","author":"Beard_Design","version":"1.3.5"}*//{}

/*
///////////////////////////////////////

 - Beard's Material Discord Theme -
- made from scratch by Beard Design -
       - beard-design.com -

///////////////////////////////////////

/!\ DO NOT RECOLOR AND POST IT AS YOUR OWN THEME

*/

.channel-textarea-inner {
  border-radius: 4px;
  border: 0px;
}

.guild-header {
  background: #212121;
}

.channel-textarea-inner textarea {
  color: #fff;
  opacity: 0.8;
  transition: all 100ms ease;
}

.channel-textarea-inner textarea:focus {
  color: #fff;
  opacity: 1;
}

.channel-textarea {
  color: #212121;
  margin: 20px 20px 30px;
  border-radius: 4px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease;
}

.channel-textarea-inner {
  padding: 20px 20px;
  border-radius: 4px;
  transition: all 200ms ease;
  opacity: 0.8;
}

.channel-textarea-inner:hover {
  opacity: 1;
}

.channel-textarea-inner .channel-textarea-upload {
  border-radius: 7px !important;
  color: #fff !important;
  border-right-color: rgba(0, 0, 0, 0) !important;
  padding: 3px !important;
  opacity: 0.17;
  background-size: 18px !important;
  transform: scale(1.2) !important;
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_file_upload_white_24px.svg);
  transition: all 100ms ease !important;
}

.channel-textarea-inner .channel-textarea-upload:hover {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_file_upload_white_24px.svg);
  transform: scale(0.9) !important;
  opacity: 1;
  transition: all 100ms ease !important;
}

.chat form .typing {
  background: #303030 !important;
  transition: all 100ms ease !important;
}

.private-channels .channel:hover.channel-muted:before,
.private-channels .channel:hover:not(.unread):before,
.guild-channels .channel-text:hover.channel-muted:before,
.guild-channels .channel-text:hover:not(.unread):before {
  border-left: 4px solid #fff;
  transition: all 100ms ease;
}

.private-channels .channel.selected:before,
.guild-channels .channel-text.selected:before {
  border-left: 2px solid #fff;
  transition: all 100ms ease;
}

.chat .user-name {
  transition: all 200ms ease;
}

.chat .user-name:hover {
  margin-left: -5px;
  transition: all 200ms ease;
}

.guild-header ul {
  transition: all 400ms ease;
  background: #141414;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
}

.guild-header header:hover {
  background-color: #0A0A0A!important;
}

.search-bar,
.friends-header,
.chat>.title-wrap,
.chat>.title-wrap>.title,
.guild-header header,
.chat .title-wrap {
  background-color: #141414 !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1)!important;
}

.private-channels .channel:hover,
.guild-channels .channel-text:hover {
  background: linear-gradient(90deg, rgba(225, 225, 225, 0.02) 80%, rgba(225, 225, 225, 0.0));
  transition: all 300ms ease;
}

.channel-members .member.popout-open,
.channel-members .member:hover,
.private-channels .channel.selected,
.guild-channels .channel-text.selected {
  background: linear-gradient(90deg, rgba(225, 225, 225, 0.04) 80%, rgba(225, 225, 225, 0.0)) !important;
}

.friends-table .messages .message-group .comment .markup,
.messages-wrapper .messages .message-group .comment .markup {
  color: rgba(225, 225, 225, 0.85)!important;
}

.message-group h2 .timestamp {
  color: rgba(225, 225, 225, 0.3)!important;
}

.account {
  background: #141414;
  margin-bottom: -25px;
}

.account .btn {
  background: #141414;
  border: 0px solid;
}

.account .btn-deafen,
.account .btn-mute,
.account .btn-settings {
  border-right: 1px solid #141414;
  border-radius: 50%;
  box-shadow: inset 1px 0 0 #141414;
  transition: all 200ms ease;
}

.account .btn-group {
  border-radius: 10px;
  border: 5px solid #141414;
}

.scroller-wrap,
.scroller-wrap .scroller {
  background: transparent;
}

.flex-vertical {
  background: #212121;
}

.private-channels,
.channel-members {
  background: #212121!important;
}

#friends,
.guilds-wrapper,
#friends .friends-table .friends-table-header,
.flex-horizontal>.flex-spacer,
.chat .messages,
.friends-table .messages .message-group:not(.has-divider),
.messages-wrapper .messages .message-group:not(.has-divider) {
  background: #303030 !important;
}

.links {
  visibility: hidden;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  border: 3px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(225, 225, 225, 0.1) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb:hover {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(225, 225, 225, 0.15) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb:active {
  border: 4px solid rgba(255, 255, 255, 0) !important;
  background-color: rgba(225, 225, 225, 0.2) !important;
}

.user-settings-modal-connections .user-settings-modal-connections-list,
.settings .settings-inner .settings-panel,
.settings .settings-inner,
.settings .settings-right {
  background: #fff;
}

.chat .title-wrap .topic {
  color: rgba(225, 225, 225, 0.3)!important;
  transition: all 300ms ease!important;
}

.chat .title-wrap .topic:hover {
  color: rgba(225, 225, 225, 0.7)!important;
  transition: all 300ms ease!important;
}

.embed .embed-video-actions .embed-video-actions-inner {
  background: transparent;
  padding: 5px;
  border-radius: 100px;
  transition: all 200ms ease!important;
  transform: scale(1.2);
  margin-left: 50px
}

.embed .embed-video-actions {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 200ms ease!important;
  border-radius: 10px;
}

.embed .embed-video-actions:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.friends-table .messages .message-group a,
.messages-wrapper .messages .message-group a {
  color: #2196F3!important;
  transition: all 300ms ease;
  border-bottom: 2px solid transparent;
}

.friends-table .messages .message-group a:hover,
.messages-wrapper .messages .message-group a:hover {
  color: #90CAF9!important;
  text-decoration: none;
}

.message-group .comment .attachment-image img,
.embed .image,
.embed .embed-thumbnail img {
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.embed .embed-video-actions .embed-video-play {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_play_arrow_black_18px.svg)!important;
  background-color: #fff!important;
  background-repeat: no-repeat!important;
  background-position: 50%!important;
  background-size: 60%!important;
  border-radius: 50%;
  opacity: 1!important;
  transform: scale(3)translate(5px, 3.5px);
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  position: absolute;
  z-index: 2;
  margin-top: 3px;
  transition: all 200ms ease!important;
}

.embed .embed-video-actions .detTubeButton.embed-video-play {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_branding_watermark_white_24px.svg)!important;
  position: absolute;
  transform: translate(6px, 8px)scale(1.5);
  border-radius: 100px;
  background-color: #141414!important;
  background-repeat: no-repeat!important;
  opacity: 1!important;
  transition: all 200ms ease!important;
  padding: 13px!important;
  background-size: 11px!important;
  padding-left: 25px!important;
  background-position: 27%!important;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0);
}

.embed-video-play:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7)!important;
}

.embed .embed-video-actions:hover .detTubeButton.embed-video-play {
  transform: translate(-23px, 8px)scale(1.5);
}

.embed .embed-video-actions:hover .detTubeButton.embed-video-play:hover {
  transform: translate(-25px, 8px)scale(1.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2)!important;
  transition: all 100ms ease!important;
}

.embed-video-actions.detTubeFloatingWrapper .embed-video-actions-inner .detTubeButton {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_branding_watermark_white_24px.svg)!important;
}

.embed-video-actions.detTubeFloatingWrapper {
  background: transparent!important
}

.embed-video-popout {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_open_in_new_white_18px.svg)!important;
  transform: translate(-42px);
  margin-top: 3px!important;
  margin-right: 5px;
  transition: all 200ms ease!important;
  margin-left: 50px!important;
  background-color: #141414!important;
  opacity: 1!important;
  padding: 10px!important;
  border-radius: 100px;
  background-position: 69%!important;
  padding-left: 25px!important;
}

.embed .embed-video-actions:hover .embed-video-popout {
  transform: scale(1)translate(-13px);
}

.embed .embed-video-actions .embed-video-popout:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2)!important;
  transform: scale(1)translate(-10px);
  transition: all 100ms ease!important;
}

.modal .modal-inner:hover {
  transition: all 300ms ease
}

.callout-backdrop {
  opacity: 0.98!important;
  transition: all 300ms ease;
  animation-name: bg-in;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 400ms;
}

@keyframes bg-in {
  0% {
    opacity: 0;
  }
  100% {}
}

.checkbox:active .checkbox-inner input[type=checkbox]:checked+span {
  transform: scale(0.5);
  transition: all 100ms ease;
}

.channel-notification-settings .content,
.channel-notification-settings .content .content-inner {
  background: #fff!important;
}

.callout-backdrop {
  opacity: 0.9!important;
}

.friends-table .messages .message-group .comment .markup code.inline,
.friends-table .messages .message-group .comment .markup pre code,
.messages-wrapper .messages .message-group .comment .markup code.inline,
.messages-wrapper .messages .message-group .comment .markup pre code {
  background: #212121!important;
}

#friends .friends-table .friends-row+.friends-row {
  border-top: 0px solid transparent!important;
}

#friends .friends-table .friends-row {
  transition: all 100ms ease;
  margin-top: 10px;
}

#friends .friends-table .friends-row:hover {
  background: rgba(1, 1, 1, 0.1) !important;
  margin-top: 10px;
}

#friends .friends-table .friends-row .friends-column-name .avatar-small {
  border: 5px solid #303030;
  transition: all 300ms ease;
  margin-left: 10px;
}

#friends .friends-table .friends-row:hover .friends-column-name .avatar-small {
  border: 5px solid #424242;
  transform: scale(1.2);
  opacity: 0.8;
  transition: all 100ms ease;
}

#friends .friends-table .friends-table-body {
  background: #303030;
}

.chat .messages {
  box-shadow: -10px 0px 6px rgba(0, 0, 0, 0.5);
}

#friends .friends-table .friends-table-header .friends-column {
  color: rgba(225, 225, 225, 0.3)!important;
  transition: all 200ms ease
}

#friends .friends-table .friends-table-header .friends-column:hover {
  color: rgba(225, 225, 225, 0.7)!important;
}

#friends .friends-header .tab-bar .tab-bar-item {
  transition: all 200ms ease!important;
}

.tooltip {
  background-color: #303030 !important;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5)!important;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  transition: all 200ms ease !important;
}

.tooltip:after {
  visibility: hidden;
}

.private-channels .channel.selected .icon-friends {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  transform: scale(1.1);
}

.private-channels .channel .icon-friends {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.8!important;
  transition: all 100ms ease;
}

.private-channels .channel:hover .icon-friends {
  background-color: rgba(0, 0, 0, 0);
  transform: scale(1.4);
  opacity: 1!important;
}

#voice-connection {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.1));
  background-color: #141414;
}

#voice-connection .btn-group {
  background: rgba(0, 0, 0, 0);
  border: 0px;
}

#voice-connection .btn {
  background: rgba(0, 0, 0, 0);
  border-right: 0px!important;
  box-shadow: inset 1px 0 0 #141414;
  border-radius: 50%;
  transition: all 100ms ease;
}

#voice-connection .btn-disconnect {
  box-shadow: inset 1px 0 0 #141414;
}

#voice-connection .btn-info {
  box-shadow: inset 1px 0 0 #141414;
}

.guilds-wrapper .guilds .guild .guild-inner a {
  border-radius: 50%!important;
  opacity: 1;
  transition: all 100ms ease;
}

.guilds-wrapper .guilds .guild .guild-inner {
  background: transparent!important;
  border-radius: 0%!important;
  opacity: 1;
  transition: all 100ms ease;
}

.guilds-wrapper .guilds .guild {
  padding: 7px 14px;
  transition: all 100ms ease;
  transform: translate(-13px)!important;
  margin-bottom: 0px!important;
  z-index: 99;
}

.guilds-wrapper .guilds .guild .badge {
  transform: translate(-10px, -10px)!important;
}

.guilds-wrapper .guilds .guild+.guild {
  margin-top: 0px;
}

.guild-separator {
  margin-bottom: 0px!important
}

.dms {
  margin: 0px!important
}

.guilds-wrapper .guilds .guild:hover {
  background: rgba(0, 0, 0, 0.1);
}

.guilds-wrapper .guilds .guild.active,
.guilds-wrapper .guilds .guild.active .guild-inner,
.guilds-wrapper .guilds .guild .guild-inner:active,
.guilds-wrapper .guilds .guild.selected {
  background: rgba(0, 0, 0, 0.2);
}

.guilds-wrapper .guilds {
  padding-top: 5px!important;
}

.guilds-wrapper .guilds .guild.selected.unread:before,
.guilds-wrapper .guilds .guild.selected:before,
.guilds-wrapper .guilds .guild.unread:before {
  z-index: 100;
  transform: translate(72px, 10px) scale(1.2);
  background: #F04747;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3), inset 0 1px 0 hsla(0, 0%, 100%, .15);
  height: 12px;
  width: 12px;
  margin-top: 0px;
  transition: all 100ms ease !important;
}

.guilds-wrapper .guilds .guild.selected:before {
  transform: translate(72px, 10px) scale(0)!important;
}

.guilds-wrapper .guilds .guild.selected.unread:before {
  transform: translate(72px, 10px) scale(1.2)!important;
}

.guilds-wrapper .guilds .guild .guild-inner:hover {
  opacity: 0.8;
  transition: all 100ms cubic-bezier(0, 0, 0, .99);
}

.guilds-wrapper .guild.guilds-add {
  border: 0px;
  transform: translate(0, 10px);
  background: #212121;
  transition: all 200ms ease!important;
  margin-left: 0px!important;
  font-size: 32px;
  font-weight: 600;
  margin: 13px!important
}

.private-channels .channel .channel-name,
.channel-members .member .member-activity,
.channel-members .member .member-username-inner {
  transition: all 100ms ease;
}

.private-channels .channel:hover .channel-name,
.channel-members .member .member-activity,
.channel-members .member:hover .member-username-inner {
  margin-left: 5px;
}

.guild-channels .channel .channel-name {
  transition: all 100ms ease;
}

.guild-channels .channel:hover .channel-name {
  margin-left: 5px;
}

.bot-tag {
  color: #fff!important;
}

.emoji-picker {
  background: #141414;
}

.emoji-picker .scroller .emoji-item.selected {
  background: rgba(0, 0, 0, 0);
}

.emoji-picker .scroller .emoji-item {
  transition: all 100ms ease;
}

.emoji-picker .scroller .emoji-item:hover {
  transformation: scale(0.8);
}

.emoji-picker .sticky-header {
  background: #212121;
}

.emoji-picker .header .search-bar {
  backround: #212121;
}

.private-channels .channel .avatar-small {
  transition: all 100ms ease;
}

.private-channels .channel:hover .avatar-small {
  transform: scale(1.2);
}

#friends .friends-table .friends-row .discord-tag .discriminator {
  visibility: visible;
  color: rgba(225, 225, 225, 0);
  transition: all 100ms ease;
}

#friends .friends-table .friends-row:hover .discriminator,
#friends .friends-table .friends-row:hover .friends-column-actions {
  transition: all 100ms ease!important;
  color: rgba(225, 225, 225, 0.4);
}

.channel-members .member.popout-open .avatar-small,
.channel-members .member:hover .avatar-small {
  transform: scale(1.2);
}

.channel-members .member.popout-open .avatar-small,
.channel-members .member .avatar-small {
  transition: all 100ms ease;
}

.markdown-modal {
  background: #141414;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 1)
}

.markdown-modal .markdown-modal-header {
  border-bottom: 0px;
}

.context-menu {
  background: #212121!important;
  border-radius: 7px;
  padding: 5px;
  transform-origin: top left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5)!important;
}

.context-menu .item.disabled:hover {
  padding-left: 9px;
}

.context-menu .item {
  background: transparent!important;
  border-radius: 3px;
  transition: all 100ms ease;
  cursor: pointer;
  margin: 0px;
  padding: 17px 10
}

.context-menu .item:hover {
  background: rgba(225, 225, 225, 0.1)!important;
  padding-left: 15px;
}

.context-menu .item:active {
  transition: all 100ms ease;
  background: #61605B!important;
  padding-left: 15px;
}

.settings .settings-header {
  background: #212121;
}

.guild-channels .channel-voice-states li {
  transition: all 150ms ease;
  transition-delay: 50ms !important;
}

.guild-channels .channel-voice-states li.speaking {
  transition: all 100ms ease;
}

.guild-channels .channel-voice-states li .avatar-small {
  transition: all 150ms ease;
}

.guild-channels .channel-voice-states li.speaking .avatar-small {
  border: 2px solid #43b581;
  transition: all 80ms ease;
}

#create-channel-modal .form-inner {
  background: #fff!important;
}

.guild-channels .channel a {
  transition: all 100ms ease;
}

.flex-spacer {
  background: transparent;
}

flex-horizontal flex-spacer content-inner {}

.account .btn-settings:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_settings_white_24px.svg) !important;
  zoom: 1.2;
}

.account .btn-settings:hover:after {
  opacity: 0.6;
}

.account .btn-deafen:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_up_white_24px.svg) !important;
  opacity: 0.2;
  zoom: 1.2;
}

.account .btn-deafen:hover:after {
  opacity: 0.6;
}

.icon-deafened,
.account .btn-deafen.disabled:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_off_white_24px.svg) !important;
}

.account .btn-mute:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_white_24px.svg) !important;
  opacity: 0.2!important;
  zoom: 1.2;
}

.account .btn-mute:hover:after {
  opacity: 0.6!important;
}

.icon-muted,
.account .btn-mute.disabled:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_off_white_24px.svg) !important;
}

#voice-connection .btn-info:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_info_white_24px.svg) !important;
  zoom: 2;
}

#voice-connection .btn-disconnect:after {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_call_end_white_24px.svg);
  zoom: 1.3;
  transition: transform 300ms ease;
}

.guild-channels .channel-voice-states li .icon {
  opacity: 0.3!important
}

.guild-channels .channel-voice-states li .icon:hover {
  opacity: 0.3!important
}

.btn-hamburger {
  transition: all 300ms ease;
  transform: rotate(0deg)scale(0.3);
}

.btn-hamburger.btn-hamburger-open {
  transform: rotate(180deg)scale(0.3);
}

.btn-hamburger-open span {
  transition: all 300ms ease;
}

.guild-header:active .btn-hamburger {
  transform: scale(0.2)
}

.guild-header span {
  transition: all 300ms ease;
}

.guild-header:active span {
  transform: scale(0.9)
}

.embed .embed-video-actions .embed-video-popout {
  background: url(/assets/7ff0938769e7e232f880731d45851b94.svg) no-repeat;
  margin-top: 2px
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span:after {
  background: transparent;
  transition: all 500ms ease;
  transition-delay: 1s;
  animation-name: checked;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

@keyframes checked {
  0% {
    transform: rotate(-45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

.checkbox .checkbox-inner input[type=checkbox]:checked+span {
  animation-name: checked-bg;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 1.06, .39, 1.71);
  animation-duration: 300ms;
}

@keyframes checked-bg {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.checkbox:active .checkbox-inner input[type=checkbox]:checked+span {
  transform: scale(0.5);
  transition: all 100ms ease;
}

.channel-notification-settings .content,
.channel-notification-settings .content .content-inner {
  background: #fff!important;
}

.radio .radio-inner input[type=radio]:checked+span:after {
  transform: scale(1);
}

.radio:hover span:after {
  transform: scale(0);
  opacity: 1;
  transition: all 300ms cubic-bezier(0, 1.06, .39, 1.71);
}

.radio span:after {
  transform: scale(0);
  transition: all 300ms cubic-bezier(0, 1.06, .39, 1.71);
}

.radio .radio-inner {
  transform: scale(0.6);
  background: transparent;
  border: 4px solid #7289DA;
  border-radius: 100px;
  transition: all 300ms cubic-bezier(0, 1.06, .39, 1.71)
}

.radio:hover .radio-inner {
  transform: scale(0.7);
}

.radio:active .radio-inner {
  transform: scale(0.62);
}

#friends .btn {
  transition: all 200ms cubic-bezier(0, 1.06, .39, 1.71);
}

#friends .btn:hover {
  transform: scale(1.1);
}

.avatar-uploader .avatar-uploader-inner:hover {
  box-shadow: inset 0 0 120px rgba(0, 0, 0, 0)
}

.avatar-uploader .avatar-uploader-inner .avatar-uploader-hint {
  background: rgba(0, 0, 0, 0);
  color: transparent;
  transition: all 200ms ease;
  border-radius: 1000px
}

.avatar-uploader .avatar-uploader-inner:hover .avatar-uploader-hint {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.user-settings-modal.settings {
  border-radius: 10px;
}

.guilds-wrapper .guilds .friends-icon {
  background-color: transparent
}

.settings .settings-inner .settings-panel {
  border-radiue: 0px 10px 10px
}

.chat form .typing {
  background: transparent!important;
}

.scroller-wrap.fade.light {
  background: #303030;
}

.messages-wrapper .messages .divider span {
  background: rgba(0, 0, 0, 0.1)!important;
  border-radius: 5px;
  padding: 3px 20px;
}

.guild-channels .icon-instant-invite {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_share_white_24px.svg);
}

.guild-channels .icon-settings {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_settings_white_24px.svg);
  transform: scale(1.15);
  margin-top: -1px
}

.guild-channels .channel.selected .icon,
.guild-channels .channel .icon {
  transition: all 100ms ease
}

.guild-channels .channel.selected .icon,
.guild-channels .channel:hover .icon {
  opacity: 0.1;
  z-index: 100
}

#voice-connection {
  animation: connected 300ms ease;
}

@keyframes connected {
  0% {
    transform: translate(0, 60px)
  }
  100% {
    transform: translate(0, 0px)
  }
}

.account {
  z-index: 101
}

#voice-connection:focus {
  transition: all 300ms ease!important;
  transition-delay: 100ms;
  transform: translate(0, 60px);
}

.search-bar.search-bar-light {
  background: transparent!important;
  box-shadow: none!important
}

.form .btn-primary {
  transition: all 50ms ease;
  margin-bottom: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.form .btn-primary:active {
  color: rgba(0, 0, 0, 0.7);
  background: rgb(220, 220, 220);
  transform: translate(0, 5px);
  box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
}

.user-settings-modal-connections .user-settings-modal-connections-list,
.settings .settings-inner .settings-panel,
.settings .settings-right {
  background: transparent!important
}

.slider {
  width: 95%;
}

.slider .slider-handle {
  border: 0px;
  background: #697EC4;
  transform: scale(0.7);
  transition: all 100ms ease;
  border-radius: 50%;
}

.slider .slider-bar {
  height: 4px;
  transform: translate(0, 1px);
  border-radius: 100px;
  transition: all 100ms ease;
}

.slider:hover .slider-handle {
  transform: scale(0.9);
}

.slider:active .slider-handle {
  transform: scale(0.9);
}

.slider-handle-track {
  margin-right: -13px;
  margin-left: -13px;
}

.slider-bar-fill {
  transition: all 100ms ease;
}

.context-menu .slider .slider-handle {
  top: -5px
}

.message-group .comment .markup pre {
  border: 0px !important;
}

.message-group .comment .markup pre code {
  border-radius: 5px;
  border: 2px solid #141414 !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tooltip {
  animation: ttip 100ms;
}

@keyframes ttip {
  from {
    opacity: 0
  }
}

.user-settings-modal .settings-header {
  max-width: 180px;
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:before {
  opacity: .3!important;
  border-left: 0px;
  margin-top: 4px;
  transition: all 100ms ease;
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_settings_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item.selected:before,
.user-settings-modal .tab-bar.SIDE .tab-bar-item:hover:before {
  opacity: 1!important;
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item {
  padding-left: 35px;
  margin-left: 15px;
  transition: all 100ms ease;
  margin-top: 6px;
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(2):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_person_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(3):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_signal_wifi_4_bar_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(4):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_group_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(5):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_chat_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(6):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_mic_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(7):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_notifications_white_24px.svg);
}

div.platform-osx .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(8):before,
div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(8):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(8):before,
div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(9):before,
div.platform-osx .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(9):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_palette_white_24px.svg);
}

div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(10):before,
div.platform-osx .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(10):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_games_white_24px.svg);
}

div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(11):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_desktop_windows_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(9):before,
div.platform-osx .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(11):before,
div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(12):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_language_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(10):before,
div.platform-osx .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(12):before,
div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(13):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_videocam_white_24px.svg);
}

.user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(11):before,
div.platform-osx .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(13):before,
div.platform-win .user-settings-modal .tab-bar.SIDE .tab-bar-item:nth-of-type(14):before {
  content: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_security_white_24px.svg);
}

.channel-textarea-autocomplete-inner {
  border: 2px solid #212121!important;
  background-color: #212121!important;
  border-radius: 5px;
  border-bottom: 0px;
  margin-bottom: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  animation:
}

.channel-textarea-autocomplete-inner header {
  background-color: #212121!important;
  border-bottom: 0px;
  margin-bottom: 5px;
}

.channel-textarea-autocomplete-inner ul {
  background-color: #212121!important;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 0px!important;
}

.channel-textarea-autocomplete-inner li.active {
  background-color: #303030!important;
  border-radius: 5px;
}

.channel-textarea-autocomplete-inner li {
  background-color: #212121!important;
  border-radius: 5px;
  margin-bottom: 2px;
}

.channel-textarea-autocomplete-inner:after {
  border-bottom: 0px!important;
}

.guilds-wrapper .guilds .guild.audio .guild-inner:after {
  transform: translate(-15px, 15px);
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_volume_up_white_24px.svg);
}

.private-channels .search-result.selected,
.private-channels .search-result:hover {
  background: rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  border-radius: 10px;
}

.private-channels .search-result {
  transition: all 100ms ease;
  margin-bottom: 2px;
}

.private-channels .search-result.selected:before,
.private-channels .search-result:hover:before {
  border-left: 0px!important;
}

.detTubeWindow {
  background: rgba(0, 0, 0, 0.5)!important;
  border-radius: 10px!important;
  border-bottom: 20px!important
}

.embed.detTube_detached .embed-provider {
  margin-right: 10px;
  margin-left: 2px
}

.embed.detTube_detached .embed-provider:hover {
  opacity: 0.8;
}

.embed.detTube_detached .embed-author:hover {
  opacity: 0.8;
}

.channel-pins-wrap {
  background: #212121!important;
  border: 2px solid #141414!important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)!important;
  max-height: 541px!important;
  width: 500px;
  animation: pins 100ms cubic-bezier(0, 0, 0, 1)
}

@keyframes pins {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.channel-pins-wrap .channel-pins .message-group {
  background: #141414!important;
  border: 0px !important
}

.channel-pins-wrap .header {
  background: #141414!important
}

.sink-interactions .clickable.action-buttons {
  background: #303030!important;
}

.jump-button {
  background: #212121!important;
  border-radius: 100px!important;
}

.channel-pins-wrap .channel-pins .message-group .action-buttons {
  box-shadow: 0 0 0 transparent!important;
  border: 4px solid #303030!important;
  background: #303030!important;
  border-radius: 100px;
  opacity: 0;
  transition: all 100ms ease;
}

.channel-pins-wrap .channel-pins .message-group:hover .action-buttons {
  opacity: 1;
}

.channel-pins-wrap .footer {
  background: #141414!important
}

.header-toolbar button span[style*='background-image: url("/assets/70b7e4bf8b79bb44805705ef2611393b.svg");'] {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_notifications_white_24px.svg) !important;
  transform: scale(0.9);
}

.header-toolbar button span[style*='background-image: url("/assets/ac9e460931395610d173fd5db87399b7.svg");'] {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_notifications_off_white_24px.svg) !important;
  transform: scale(0.9);
}

.header-toolbar button span[style*='background-image: url("/assets/d32f71be1ee4fd022a802b7989c6fbe0.svg");'] {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_insert_drive_file_white_24px.svg) !important;
  transform: scale(0.9);
}

.header-toolbar button span[style*='background-image: url("/assets/cfb80ab4c0c135cdcb4dbcf0db124c4d.svg");'] {
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_help_white_24px.svg) !important;
  transform: scale(0.9);
}

.guilds .guild.unread .badge {
  transform: translate(-15px, -11px)!important;
  z-index: 100;
}

.guilds .guild-placeholder {
  margin-left: 13px!important;
  background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_arrow_left_white_24px.svg)!important;
  background-position: 50%!important;
  background-repeat: no-repeat!important;
  animation: guild-placeholder 200ms ease;
  background-color: #212121!important;
  border: 0px!important;
}

@keyframes guild-placeholder {
  from {
    transform: translate(-13px)scale(0)
  }
  to {
    transform: translate(-13px)scale(1)
  }
}

.markup .highlight {
  transition: 0ms;
}

.markup .highlight:hover {
  color: #fff!important;
  text-decoration: none!important;
  border-radius: 0px;
}

.markup {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 2px;
  margin: 0px!important
}

#pubs-container {
  border-radius: 10px!important;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important
}

#pubs-header {
  border-radius: 10px 10px 0 0!important;
  padding: 10px
}

.header-toolbar button {
  transition: all 200ms ease
}

.header-toolbar .popout-open {
  transform: scale(1.1)
}

.embed-thumbnail.embed-thumbnail-link {
  transition: all 300ms ease;
}

.embed-thumbnail.embed-thumbnail-link:hover {
  transform: scale(0.95);
}

.btn-option {
  background: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_settings_white_18px.svg)!important;
  transform: scale(0.9);
  opacity: 0.2;
  width: 18px!important;
  height: 18px!important;
}

.btn-option:hover {
  opacity: 0.7;
}
.attachment-image .image,
.embed-thumbnail.embed-thumbnail-image .image{
    transition:all 300ms ease
}
.attachment-image .image:hover,
.embed-thumbnail.embed-thumbnail-image .image:hover{
    transform:scale(0.98)
}
