//META{"name":"Small-members-tab","description":"make the members tab smaller and gest full size on hover","author":"Beard_Design","version":"1.0.0"}*//{}

/*-------------------made by Beard Design-------------------------*/
.channel-members{
    transform:translate(150px);
    z-index:2;
    transition:all 300ms ease;
}
.channel-members:hover{
    animation: member 300ms ease;
    transform:translate(0px);
}
.app {
    overflow-x: hidden;
}

.channel-members .member .member-activity,
.channel-members .member .member-username-inner{
    opacity:0;
    transition:opacity 300ms ease, margin 100ms ease;
    
}
.channel-members .member .member-username-inner{
    margin-bottom:10px;
}
.channel-members:hover .member .member-activity, .channel-members:hover .member .member-username-inner{
    opacity:1;
}
.header-toolbar button.active{
    display:none;
}
.channel-members h2{
    transform-origin:left;
    transform:scale(0.7);
    padding:0px 0px 0px 10px;
    transition: all 300ms ease;
}
.channel-members:hover h2{
    transform:scale(1);
    padding:0px 0px 0px 30px;
}
.channel-members .avatar-small{
    transform:scale(1.2);
}
.channel-members:hover .avatar-small{
    transform:scale(1);
}
.chat.flex-vertical.flex-spacer>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:-145px;
    z-index:1
}
.chat.flex-vertical.flex-spacer.private>.content.flex-spacer.flex-horizontal>.flex-spacer.flex-vertical{
    margin-right:0px;
    z-index:1
}
/*-------------------made by Beard Design-------------------------*/
